.redst {
	color: red;
	font-weight: bold;
}
.red {
	color: red;
}
.bolds {
	font-weight: bold;
}
.italics {
	font-style: italic;
}
.unders {
	text-decoration: underline;
}
.bu {
	font-weight: bold;
	text-decoration: underline;
}